@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
h1 {
    font-size: 2.5em;
    text-align: center;
}
h1 a,
h1 a:link,
h1 a:visited,
h1 a:hover {
    color: #333;
}
h1, h2 {
    font-family: Lora;
}
h2 {
    font-size: large;
}
a:link,
a:visited {
    color: #666;
    text-decoration: none;  
}
a:hover {
    color: #00ddff;
}
a:active {
    color: #deb887;
}
nav {
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    text-transform: uppercase;
    font-size: small;
    margin-bottom: 1em;
}
nav ul {
    list-style-type: none;
    text-align: center;
  }
  
nav ul li {
    padding-right: .75em;
    font-family: Lora;
  }
  
nav ul li a {
    display: block; 
}

.post-date {
    font-size: medium;
    text-transform: uppercase;
    text-align: right;
  }
.post-content {
    padding-left: .75em;
    padding-bottom: 1em;
    border-left: 1px solid #d0d0d0;
    border-bottom: 1px dotted #d0d0d0;
  }
p {
    font-size: .75em;
    font-weight: bold;
    font-family: Arial;
  }
img {
    width: 150px;
  }
figure {
    text-align: center;
  }

  @media (min-width: 450px) {
    /* Base styles for larger */
    nav ul li {
      display: inline-block;
    }
    nav ul {
      text-align: right;
    }
    article {
      display: grid;
      grid-template-columns: 1fr 4fr;
      gap: 10px;
    }
}